@font-face {
  /* we want the svg version */
  font-family: 'FontAwesome';
  src: url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg'),
    url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), 
    url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), 
    url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype');
  font-weight: normal;
  font-style: normal;
}

svg {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
g.view {
}
g.nodes rect {
  fill: hsla(0, 0%, 0%, 0.75);
  stroke: hsl(0, 0%, 50%);
  stroke-width: 2px;
}
.small g.nodes rect {
  fill: hsla(0, 0%, 25%, 0.5);
  stroke: none;
}

path.edge-bg {
  fill: none;
  stroke: black;
  stroke-width: 4px;
}
path.edge-fg {
  fill: none;
  stroke: white;
  stroke-width: 2px;
}
.small path.edge-bg {
  stroke-width: 8px;
}
.small path.edge-fg {
  stroke-width: 4px;
}

text {
  font-family: "SourceCodePro", "Source Code Pro", Helvetica, Arial, sans-serif;
  text-rendering: geometricPrecision; /* makes text scale smoothly */
  font-size: 14px;
  fill: white;
  text-anchor: middle;
  cursor: default;
}

.small text.title {
  visibility: hidden;
}

text.icon {
  font-family: 'FontAwesome';
  font-size: 40px;
  fill: hsl(0, 0%, 75%);
  text-anchor: middle;
  dominant-baseline: central;
}
.small text.icon {
  fill: hsl(0, 0%, 100%);
  font-size: 68px;
}
.big text.icon {
  fill: hsl(0, 0%, 25%);
}

g.port circle {
  fill: black;
  stroke: hsl(0, 0%, 50%);
  stroke-width: 1px;
}
g.port text {
  visibility: hidden;
  font-size: 6px;
  alignment-baseline: middle;
}

g.inports text {
  text-anchor: start;  
}
g.outports text {
  text-anchor: end;  
}
.big g.port text {
  visibility: visible;
}


g.route0  path.edge-fg { stroke: hsl( 10, 100%, 100%); }
g.route1  path.edge-fg { stroke: hsl( 10, 100%, 70% ); }
g.route2  path.edge-fg { stroke: hsl( 30, 100%, 70% ); }
g.route3  path.edge-fg { stroke: hsl( 60, 100%, 70% ); }
g.route4  path.edge-fg { stroke: hsl( 90, 100%, 70% ); }
g.route5  path.edge-fg { stroke: hsl(120, 100%, 70% ); }
g.route6  path.edge-fg { stroke: hsl(150, 100%, 70% ); }
g.route7  path.edge-fg { stroke: hsl(180, 100%, 70% ); }
g.route8  path.edge-fg { stroke: hsl(210, 100%, 70% ); }
g.route9  path.edge-fg { stroke: hsl(240, 100%, 70% ); }
g.route10 path.edge-fg { stroke: hsl(270, 100%, 70% ); }
g.route11 path.edge-fg { stroke: hsl(300, 100%, 70% ); }
g.route12 path.edge-fg { stroke: hsl(330, 100%, 70% ); }
